<div class="content">
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg">Forgot your password?</p>

            <div class="alert alert-success" ng-if="success">
                {{message}}
            </div>
            <formly-form model="fp.forgotpassword" fields="fp.fields" form="fp.forms.fpform">
                <button type="submit" ng-disabled="fp.forms.fpform.$invalid" class="btn btn-primary btn-block btn-flat"
                        ng-click="fp.submit(fp.forgotpassword.email)">Submit
                </button>
            </formly-form>
        </div>
        <!-- /.login-box-body -->
    </div>
</div>
