<!-- Main content -->
<div class="content">
	<div class="login-box">
		<div class="login-box-body">
			<p class="login-box-msg">Change your password</p>
			<loading></loading>
			<div class="alert alert-success" ng-if="success">
				<strong> {{message}}</strong>
			</div>
			<div class="alert alert-danger" ng-if="danger">
				<strong>{{message}}</strong>
			</div>
			<formly-form model="cp.pwdInfo" fields="cp.fields" form="cp.form" novalidate>
				<button type="submit" ng-disabled="cp.form.$invalid" class="btn btn-standard shadow-button" ng-click="cp.submit(cp.pwdInfo)">Save</button>
				<a href="#/home/dashboard"><button type="submit" class="btn btn-standard">Close</button></a>
			</formly-form>
		</div>
		<!-- /.login-box-body -->
	</div>
</div>