<div class="modal fade">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{wlnc.title}} of {{wlnc.waitlistInfo.name}}</h4>
			</div>
			<div class="modal-body row clearfix">
				<div class="col-md-12">
					<p ng-repeat="notification in wlnc.notifications">{{notification}}</p>
					
					<div class="col-md-12">
						<button class="btn btn-standard"  ng-click="close()" >Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>