<div class="search-results col-xs-12 no-padding">    
	<div class="col-xs-12 no-padding">
		<img ng-if="src.bp.logo.url" ng-src="{{src.bp.logo.url}}" style="height:100px;width:100%" alt="">
	</div>
	<div class="col-xs-12 search-bus-info">
		<div class="bus-name">{{src.bp.businessName}}<span ng-if="src.bp.place" class="fa fa-location-arrow"> {{src.bp.place}}</span></div>
		<div class="bus-phone"><span class="fa fa-mobile"> {{src.bp.primaryPhoneNo}}</span>
			<span ng-if="src.bp.secondaryPhoneNo" style="padding-left:10px" class="fa fa-phone"> {{src.bp.secondaryPhoneNo}}</span>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="global-bar-tab tab-provider-view ">
	 <uib-tabset active="activeJustified" justified="true">
		<uib-tab index="0" heading="Services">
			<div class="col-xs-12 services-list" ng-repeat="service in src.services">	
				<div class="col-xs-8 service-info">
					<div class="bus-name">{{service.name}}</div>
					<div class="bus-desc">{{service.description}}</div>
					<div class="wait-time"><img src="assets/img/icon/ptb/wait-time.png"/><span >{{service.waitTime}} 1 hr</span></div>
				</div>
				<div class="col-xs-4 service-info">
					<div class="no-padding"><button ng-click="showAddToWL(service,src.bp)" class="btn btn-standard btn-col" style="max-width:120px;float:right"><span  ng-if="service.bType=='Waitlist'">Add to </span><span ng-if="service.bType=='Appointment'">Take </span>{{service.bType}}</button></div>
				</div>
			</div>	
		</uib-tab>
		<uib-tab index="2" heading="About Us">
			<div class="bus-addr" ng-if="src.bp.address"><span class="fa fa-home"> {{src.bp.address}}</span></div>
			<div class="col-xs-12 bus-desc">{{src.bp.businessDesc}}</div>	
		</uib-tab>
	  </uib-tabset>
	</div>
	
</div>
