<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">{{bp.title}}</h4>
            </div>
            <div class="modal-body discount-modal row">
                <div class="col-md-12">
                    <div class="alert alert-success" ng-if="success">
                      <strong> {{message}}</strong>
                    </div>
                    <div class="alert alert-danger" ng-if="danger">
                      <strong>{{message}}</strong>
                    </div>
                    <div>
                    <formly-form model="bp.profileInfo" fields="bp.fields" form="bp.profileInfo.form" ng-keypress="change($event)">
                    </formly-form>
                    </div>
                      
                </div>
            </div>
            
            <div class="modal-footer">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-standard" ng-disabled="disc.profileInfo.form.$invalid"
                            ng-click="dcc.submit()">Save
                    </button>

                    <button class="btn btn-standard" ng-click="close()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
