<div class="modal fade cancelWl ">
	<div class="modal-dialog ">
		<div class="modal-content row">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{cwlc.title}}</h4>
			</div>
			<div class="modal-body row clearfix">
				<div class="alert alert-success" ng-if="success">
				  <strong>{{message}}</strong> 
				</div>
				<div class="alert alert-danger" ng-if="danger">
				  <strong>{{message}}</strong>
				</div>
				
				<div class="col-md-12">
					<p>Do you really want to send message to <b>{{cwlc.waitlistInfo.name}}</b></p>
					<div class="col-md-12 listB clearfix">
						<div class="col-md-1 no-padding col-sm-2">
							<br/>
							<ul>
								<li><a ng-click="" class="big-link"><img src="../assets/img/icon/dashboard/ready.png"><span> Ready</span></a></li>
							</ul>	
						</div>
						<div class="col-md-10 col-sm-10">
						<formly-form model="cwlc.communicateWlInfo" fields="cwlc.fields" form="cwlc.form">
						</formly-form>
						</div>
						
					</div>
					<div class="col-md-12">
						<button class="btn btn-standard"  ng-click="adjustDelay()">Save</button>
						<button class="btn btn-standard"  ng-click="close()" >Close</button>
					</div>
				</div>
			</div>
			<div class-="modal-footer">
				<div class="col-md-12">
						<p class="error">Note:- System will send this message to your customer</p>
					</div>
			</div>
		</div>
	</div>
</div>