<div class="group-heading"><h3>Favourite Providers</h3></div>
<div class="col-sm-12 col-md-12 list-group single-profile-top box-content" ng-repeat="row in items">
    <div class="clearfix no-padding" style="margin:auto;">
        <div class="col-sm-12 no-padding lead clearfix" style="margin: auto">
            <div class="image col-sm-2" style="float:left;height:60px;width:60px">
                <img src="../assets/img/noimage.png" style="height:50px;width:50px" alt="Cancel Appointment">
            </div>
            <div class="col-sm-10">
                <div>
                    <span class="title"><a href="">{{row.name}}</a></span>

                <span class="normal"><span class="fa fa-location-arrow" ng-if="row.address"> {{row.address}}</span>
                    <span class="fa fa-mobile"> {{row.mobile}}</span>
                </span>
                </div>
                <div>
                    <span class="normal">
                    <span class="fa">Last visit : 2 days ago</span>
                    <span><img class="small-image" src="../assets/img/map-icon.png"/></span>
                    <span><img class="small-image" src="../assets/img/double-down-arrow.png"/></span>
                    <span><img class="small-image" style="height:20px;width:20px" src="../assets/img/cal-new.png"/></span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
