<section class="content">
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg">Forgot your password?</p>
            <div class="alert alert-success" ng-if="success">
                {{message}}
            </div>
			<formly-form  ng-if="stage=='fpStart'" model="fp.forgotpassword" fields="fp.fields" form="fp.forms.fpform">
                <button type="submit" ng-disabled="fp.forms.fpform.$invalid" class="btn btn-block btn-flat buttonYnw-partial" ng-click="fp.submit(fp.forgotpassword.email)">Submit
                </button>
            </formly-form>
			<formly-form ng-if="stage=='otpGenerated'" model="fp.otpInfo" fields="fp.otpfield" form="fp.otp.form">
                <button class="btn btn-block btn-flat buttonYnw-partial" ng-disabled="fp.otp.form.$invalid"
                        ng-click="fp.otpVerify()">Continue
                </button>
            </formly-form>
			<formly-form ng-if="stage=='setCredentials'" model="fp.credentialInfoC" fields="fp.credentialfields" form="fp.credentials.form">
				<button class="btn btn-block btn-flat buttonYnw-partial" ng-disabled="fp.credentials.form.$invalid" 
				ng-click="fp.completeFP()">Save
				</button>
			</formly-form>
			<div style="margin-top: 15px;text-align:center">
				&nbsp;
			</div> 
			<div style="text-align:center">
				<div style="border-bottom: 1px solid rgb(222, 222, 222); margin: 5px auto; width: 110px;"></div>
				<div><h5 style="color: rgb(90, 90, 90); font-weight: 500; font-size: 12px;">Already a member?</h5><a href="#/login"><button class="btn-primary buttonYnw-full"  type="button" style="width: 40%; ">Sign in</button></a></div>
			</div>
        </div>
    </div>
</section>
