<div class="content" class="row" ui-view>
    <div class="header-title nav-hidden form-bordered">
        <div class="section-head col-sm-6 col-md-6">Services</div>
        <div class="service-btns service-btn-only col-sm-6 col-md-6">
            <a href="javascript:;" ng-click="createService()" class="btn btn-icon-only red btn tooltips"
               data-placement="bottom" data-original-title="Quick Launch Button">
                <i class="fa fa-plus"></i></a>
        </div>
    </div>
	<div class="clearfix"></div>
    <div class="nav-hidden form-bordered container">
        <div class="col-md-12 col-lg-12 nopadding">
            <div class="row hidden-xs list-group-title single-profile-top box-content">
                <div class="col-sm-1 col-border-right " style="margin: auto">
                    <p class="title"><span></span>
                </div>
                <div class="col-border-right col-sm-2 " style="margin: auto">
                    <p class="title"><span>Service</span>
                </div>
                <div class="col-sm-3 col-border-right " style="margin: auto">
                    <p class="title"><span>Description</span>
                </div>
                <div class="col-sm-2 col-border-right " style="margin: auto">
                    <p class="title"><span>Duration(mins)</span>
                </div>
                <div class="col-sm-2 col-border-right " style="margin: auto">
                    <p class="title"><span>Group</span>
                </div>
                <div class="col-sm-2">
                    <span class="pull-right">
                        &nbsp;
                    </span>
                </div>
            </div>
			<div class="clearfix"></div>
			<div class="row list-group single-profile-top box-content" ng-repeat="row in services" ng-class="{'active-selection': row.status == 'Inactive'||$index == selectedIndex}">
                <div class="col-md-1">
                    <p class="title"><span style="float:left" class="visible-xs">Status  :  </span>
                    <span>
                        <img src='../assets/img/pr2.png' ng-show="row.status=='Active'" />
                        <img src='../assets/img/pr1.png' ng-show="row.status=='Inactive'" />
                    </span>
                </div>
				<div class="col-sm-2">
                    <p class="title"><span style="float:left" class="visible-xs">Service Name  :  </span><span>{{row.name}}</span>
                </div>
				<div class="col-sm-3">
                    <p class="title"><span style="float:left" class="visible-xs">Description  :  </span><span>{{row.description}}</span>
                </div>	
				 <div class="col-sm-2">
                    <p class="title"><span style="float:left" class="visible-xs">Duration(mins)  :  </span><span>{{row.appmtDuration}}</span>
                </div>
				<div class="col-md-2">
					<p class="title"><span style="float:left" class="visible-xs">Group  :  </span><span ng-repeat="r in servicegrplist" ng-if="row.group == r.id">
						{{r.name}}
					</span>
				</div>	
				<div class="col-sm-2">
                    <span class="pull-right" ng-if="row.status == 'Active'">
                        <a href="#/home/settings/business/features/svm/service/{{row.id}}"><img src="../assets/img/icon/ptb/view.png"></a>
                        <a><img src="../assets/img/icon/ptb/delete.png" ng-click="row.status == 'Inactive'||deleteService(row.id,$index)"></a>
                    </span>
                </div>
			 </div>
        </div>
    </div>
</div>

