<div class="content" class="row">
    <div class="container-fluid nav-hidden form-bordered" >
        <div style="height:100%" >

            <div style="padding-bottom:15px;float:left;">
                will update soon...
            </div>
           <!-- <div style="padding: 5px;float:left;" ng-repeat="field in businessItems">
                <a class="btn btn-app styled-button-11" href="{{field.href}}">
                    <i class="fa fa-{{field.icon}}"></i> <span class="title"> {{field.title}}</span>
                </a>
            </div>-->
        </div>
    </div>
</div>