<div class="header-title nav-hidden form-bordered col-md-12 no-padding">
	<div class="section-head col-sm-12 col-md-12">Unavailability Id - {{lm.vacationInfo.id}}</div>
</div>
<div class="nav-hidden form-bordered container">
	<div class="col-md-12 col-lg-12 nopadding">
		<div class="row hidden-xs hidden-sm single-profile-top box-content">
			<formly-form model="lm.vacationInfo" options="lm.options" fields="lm.fields" form="lm.form" novalidate>
			</formly-form>
			<div class="col-sm-12 border-line">&nbsp;</div>
			<div class="col-sm-12">
			<p><button class="btn btn-standard shadow-button" ng-click="updateVacation()">Edit</button></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>