<div class="content" class="row" ng-controller="VacationsCtrl">
    <div class="header-title nav-hidden form-bordered">
        <div class="section-head col-sm-6 col-md-6">Unavailability</div>
        <div class="service-btns service-btn-only col-sm-6 col-md-6">
            <a href="javascript:;" ng-click="createVacation()" class="btn btn-icon-only red btn tooltips"
               data-placement="bottom" data-original-title="Quick Launch Button">
                <i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="nav-hidden form-bordered container">
        <div class="col-md-12 col-lg-12 nopadding">
            <div class="row hidden-xs list-group-title single-profile-top box-content">
                <div class="col-border-right col-sm-3 " style="margin: auto">
                    <p class="title"><span>Staff id</span>
                </div>
                <div class="col-sm-3 col-border-right " style="margin: auto">
                    <p class="title"><span>From</span>
                </div>
                <div class="col-sm-3 col-border-right " style="margin: auto">
                    <p class="title"><span>To</span>
                </div>
                <div class="col-sm-3 " >
                    <span class="pull-right">
                        &nbsp;
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row list-group single-profile-top box-content" ng-repeat="row in vacations">
                <div class="col-sm-3" >
                    <p class="title"><span style="float:left" class="visible-xs">Staff Id  :  </span><span>{{row.providerId}}</span>
                </div>
                <div class="col-sm-3" >
                    <p class="title"><span style="float:left" class="visible-xs">Start Date  : </span><span>{{row.timespec.startDate}}</span>
                </div>
                <div class="col-sm-3" >
                    <p class="title"><span style="float:left" class="visible-xs">Start Date  : </span><span>{{row.timespec.endDate}}</span>
                </div>
                <div class="col-sm-3 " >
                    <span class="pull-right">
                        <a href="#/home/settings/business/unavailability/{{row.id}}"><img src="../assets/img/icon/ptb/view.png"></a>
                        <a href="" ng-click="deleteVacation(row.id,$index)"><img src="../assets/img/icon/ptb/delete.png"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
