<div class="content" class="row">
    <div class="header-title nav-hidden form-bordered">
        <div class="section-head col-sm-6 col-md-6">Current WaitList</div>
        <div class="service-btns col-sm-6 col-md-6 ">
			<div class="listB pull-right">
				<ul>
					<li><a ng-click="communicateAllWaitlist()" class="big-link"><img src="../assets/img/icon/ptb/sendall.png"><span> Send Message to All</span></a></li>
					<li><a ng-click="addDelay()" class="big-link"><img src="../assets/img/icon/ptb/hourglass.png"><span>Add Delay</span></a></li>
					<li><a href="#/home/waitlist/all" class="big-link"><img src="../assets/img/icon/ptb/list.png"><span> All Records</span></a></li>
				</ul>
			</div>
		</div>
    </div>
	<div class="clearfix"></div>
    <div class="nav-hidden form-bordered container">
            <div class="clearfix"></div>
<div class="row no-padding-small list-group single-profile-top box-content" ng-repeat="row in waitList" ng-click="toggleRow(row)">
				<div class="col-border-right col-sm-1 no-padding-small col-md-1" style="margin: auto">
                    <p class="title vcenter"><span>{{row.id}}</span></p>
                </div>
				<div class="col-border-right  col-sm-4 no-padding-small col-md-4" style="margin: auto">
                    <p class="title vcenter"><a href="#home/settings/business/features/wm/view"><span>{{row.name}} - {{row.waitTime}}</span></a></p>
                </div>
				<div class="col-border-right  col-sm-2 no-padding-small col-md-2" style="margin: auto">
                    <p class="title vcenter"><span>{{row.service}}</span></p>
                </div>
				<div class="col-border-right col-sm-1 no-padding-small col-md-1" style="margin: auto">
					<div class="listB"">
						<ul>
							<li tooltip-class="sticky-note" uib-tooltip><a ng-click="getNotes" class="big-link"><img src="../assets/img/icon/ptb/stickynote.png"><span> Notes</span></a></li>
						</ul>
					</div>
                </div>
				<!--  <div class="form-group">
      <label>
        Open tooltips <span uib-tooltip="Hello!" tooltip-is-open="tooltipIsOpen" tooltip-placement="bottom">conditionally.</span>
      </label>
      <button ng-click="tooltipIsOpen = !tooltipIsOpen">Toggle tooltip</button>
    </div> -->
                <div class="col-border-right col-sm-3 no-padding-small  col-md-2" style="margin: auto">
					<div class="listB">
						<ul>
							<li><a ng-click="cancelWaitlist(row)" class="big-link"><img src="../assets/img/icon/ptb/delete.png"><span> Cancel</span></a></li>
							<li><a ng-click="communicateWaitlist(row)" class="big-link"><img src="../assets/img/icon/ptb/email.png"><span> Communicate</span></a></li>
						</ul>
					</div>
                </div>
                <div class="col-sm-1 no-padding-small col-md-2">
					<span class="pull-left"> 
						<div class="listB">
						<ul>
							<li><a ng-click="" class="big-link"><img src="../assets/img/icon/ptb/tick.png"><span> Check-in</span></a></li>
						</ul>
						</div>
					</span> 
				</div>
            </div>
        </div>
    </div>
</div>